# MySQL
MYSQL_1_HOST=localhost
MYSQL_1_USER=<USER_NAME>
MYSQL_1_PASSWORD=<USER_PASSWORD>
MYSQL_1_DB=<DATABASE_NAME>

# # PostgreSQL
# POSTGRES_1_HOST=localhost
# POSTGRES_1_USER=<USER_NAME>
# POSTGRES_1_PASSWORD=<USER_PASSWORD>
# POSTGRES_1_DB=<DATABASE_NAME>


# # MongoDB
# MONGODB_1_URI=mongodb://localhost:27017
# MONGODB_1_DB=<DATABASE_NAME>

# oauth configuration
OAUTH_CLIENT_ID=your-client-id
OAUTH_CLIENT_SECRET=your-client-secret
OAUTH_AUTH_URL=https://provider.com/oauth/authorize
OAUTH_TOKEN_URL=https://provider.com/oauth/token
OAUTH_CALLBACK_URL=http://localhost:3000/auth/callback

TOKEN_DURATION=1d
# JWT and Server Config
JWT_SECRET=<SECRET_KEY_FOR_TOKENS>
PORT=3000


GRAPHQL_DBTYPE = MYSQL_1  <= WHICH DB YOU WANT GRAPHQL 
GRAPHQL_DBCONNECTION =MYSQL_1